API_BASE_URL=https://3bneoplay65.xyz/radio
API_TIMEOUT_SECONDS=30
API_CACHE_ENABLED=true
PLAYER_BUFFER_MS=3000
PLAYER_AUTO_PLAY=false
PLAYER_NOTIFICATION_ENABLED=true
UI_DEFAULT_TAB=home
UI_THEME=dark
UI_LANGUAGE=az
FEATURE_SEARCH=true
FEATURE_FAVORITES=true
FEATURE_SLEEP_TIMER=true
